@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
.container{
  max-width: 1280px !important;
  margin: auto;
}
:root {
  --bg: #222;
  --text: #fff;
  --light: #1B1F2D;
  --border: #fff;
}

body.light {
  background: var(--text);
}

body.light .site-navigation{
  background: var(--text);
}

body.light .nav-item-list{
    color:  var(--light);
}

body.light .navbar-magamenu-area{
  background: var(--text);
}

body.light .hero-card-area{
  background: var(--text);
  border: var(--border);
}
body.light .hero-card-headding{
  color:  var(--light);
}

body.light .hero-card-text{
  color:  var(--light);
  font-weight: 500;
  
}
body.light .Top-trending-topics-slider-headding{
  color:  var(--light);

}

body.light .trending-topics{
  color:  var(--light);
}

body.light .music-podcast-live{
  color:  var(--light);
}



.background-change-icon.light-btn{
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* #Mega Menu Styles*/
  .mega-menu {
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
  }



  /* #hoverable Class Styles*/
  .hoverable {
    position: static;
  }

  .hoverable > a:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }

  .hoverable:hover .mega-menu {
    display: block;
  }


  /* #toggle Class Styles*/

  .toggleable > label:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }

  .toggle-input {
    display: none;
  }
  .toggle-input:not(checked) ~ .mega-menu {
    display: none;
  }

  .toggle-input:checked ~ .mega-menu {
    display: block;
  }


  .toggle-input:checked ~ label:after {
    content: "\25B2";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }

.navbar-magamenu-area{
    left: 68% !important;
    z-index: 99999999;
}

.Overlay{
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.523);
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
    border-radius: 35px;
}

.site-navigation {
  width: 100%;
  top: -100%;
  position: relative;
  margin-top: -12px;
  z-index: 999;
}

.site-navigation.active {
  transition: all 0.5s ease;
  top: 0;
  position: fixed;
  background-color: #1B1F2D;
  margin-top: -10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 99999;
}

.Top-trending-topics-slider{
    position: relative;
}

.Top-trending-topics-slider .owl-nav button.owl-prev{
    height: 40px;
    width: 40px;
    background-color: #252937;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 110px;
    left: -25px;
    font-size: 35px;
    border-radius: 50%;
}

.Top-trending-topics-slider .owl-nav button.owl-next{
    height: 40px;
    width: 40px;
    background-color: #252937;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -25px;
    bottom: 110px;
    font-size: 35px;
    border-radius: 50%;
}

.Top-trending-topics-slider .owl-theme .owl-nav [class*=owl-]:hover {
  border: 1px solid #c5c5c857;
  background-color: #252937;
}

.Top-trending-topics-slider .owl-carousel .owl-item img{
  border: 2px solid rgba(255, 255, 255, 0.918);
  border-top: transparent;
}

.Top-trending-topics-slider .owl-carousel .owl-stage-outer{
  border-radius: 25px;
}

.overlay-inner{
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.285);
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
    border-radius: 35px;
}



